body {
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 40px;
}

button {
  background: #6d4c41;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.home {
  padding: 60px;
  text-align: center;
}
